In [1]:
import pandas as pd
df = pd.read_json("https://data.smcgov.org/resource/mb6a-xn89.json")

In [10]:
df.head(100)

,geography,geography_type,year,less_than_high_school_graduate,high_school_graduate,some_college_or_associate_s_degree,bachelor_s_degree_or_higher,location_1,:@computed_region_uph5_8hpn,:@computed_region_i2t2_cryp,geography_mapped_value
0,Atherton,Town,2014-01-01T00:00:00.000,13.6,12.3,2.7,3.5,"{'type': 'Point', 'coordinates': [-122.2, 37.4...",2.0,28596,0
1,Colma,Town,2014-01-01T00:00:00.000,6.3,6.4,10.4,2.4,"{'type': 'Point', 'coordinates': [-122.455556,...",4.0,28588,0
2,Foster City,City,2014-01-01T00:00:00.000,11.9,9.7,2.0,2.9,"{'type': 'Point', 'coordinates': [-122.266389,...",6.0,319,1
3,Portola Valley,Town,2014-01-01T00:00:00.000,48.1,0.0,0.0,1.8,"{'type': 'Point', 'coordinates': [-122.218611,...",14.0,28597,0
4,Redwood City,City,2014-01-01T00:00:00.000,16.4,10.6,6.6,3.0,"{'type': 'Point', 'coordinates': [-122.236111,...",21.0,28607,1
5,Ladera,CDP,2014-01-01T00:00:00.000,0.0,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.274167,...",27.0,28591,0
6,Moss Beach,CDP,2014-01-01T00:00:00.000,4.8,8.2,9.3,3.5,"{'type': 'Point', 'coordinates': [-122.512778,...",30.0,28600,0
7,South San Francisco,City,2014-01-01T00:00:00.000,14.2,7.8,4.4,4.1,"{'type': 'Point', 'coordinates': [-122.425556,...",19.0,28613,1
8,Belmont,City,2014-01-01T00:00:00.000,20.9,5.9,5.0,3.6,"{'type': 'Point', 'coordinates': [-122.291667,...",15.0,28585,1
9,Daly City,City,2014-01-01T00:00:00.000,13.4,8.9,6.1,6.1,"{'type': 'Point', 'coordinates': [-122.468333,...",NaN,28588,1
10,San Mateo,City,2014-01-01T00:00:00.000,16.1,9.6,6.5,3.4,"{'type': 'Point', 'coordinates': [-122.313056,...",13.0,317,1
11,North Fair Oaks,CDP,2014-01-01T00:00:00.000,26.7,13.4,18.5,4.6,"{'type': 'Point', 'coordinates': [-122.203611,...",31.0,28608,0
12,Emerald Lake Hills,CDP,2014-01-01T00:00:00.000,6.2,2.0,4.1,2.2,"{'type': 'Point', 'coordinates': [-122.266389,...",24.0,28607,0
13,Hillsborough,Town,2014-01-01T00:00:00.000,31.1,6.1,1.5,1.4,"{'type': 'Point', 'coordinates': [-122.356389,...",8.0,28587,0
14,Brisbane,City,2014-01-01T00:00:00.000,0.0,1.7,11.5,3.3,"{'type': 'Point', 'coordinates': [-122.419167,...",NaN,28586,1
15,Menlo Park,City,2014-01-01T00:00:00.000,22.1,12.0,8.7,2.9,"{'type': 'Point', 'coordinates': [-122.183333,...",12.0,28595,1
16,Pacifica,City,2014-01-01T00:00:00.000,15.1,4.3,4.3,4.6,"{'type': 'Point', 'coordinates': [-122.485556,...",9.0,28604,1
17,San Carlos,City,2014-01-01T00:00:00.000,8.5,8.4,4.4,2.3,"{'type': 'Point', 'coordinates': [-122.2668, 3...",18.0,28611,1
18,Highlands-Baywood Park,CDP,2014-01-01T00:00:00.000,15.7,13.6,10.2,3.3,"{'type': 'Point', 'coordinates': [-122.343333,...",25.0,317,0
19,East Palo Alto,City,2014-01-01T00:00:00.000,18.3,16.4,17.2,9.1,"{'type': 'Point', 'coordinates': [-122.139722,...",5.0,312,1
20,Broadmoor,CDP,2014-01-01T00:00:00.000,21.2,8.0,3.0,2.4,"{'type': 'Point', 'coordinates': [-122.478889,...",22.0,28589,0
21,Millbrae,City,2014-01-01T00:00:00.000,7.0,7.8,5.3,3.7,"{'type': 'Point', 'coordinates': [-122.401389,...",11.0,28598,1
22,Loma Mar,CDP,2014-01-01T00:00:00.000,100.0,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.3075, 3...",28.0,28592,0
23,Woodside,Town,2014-01-01T00:00:00.000,0.0,9.4,6.8,3.2,"{'type': 'Point', 'coordinates': [-122.259722,...",20.0,28607,0
24,Half Moon Bay,City,2014-01-01T00:00:00.000,9.5,4.0,0.7,1.4,"{'type': 'Point', 'coordinates': [-122.436944,...",7.0,28590,1
25,San Bruno,City,2014-01-01T00:00:00.000,7.7,7.7,7.0,3.0,"{'type': 'Point', 'coordinates': [-122.425278,...",1.0,28610,1
26,Pescadero,CDP,2014-01-01T00:00:00.000,44.4,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.381389,...",32.0,28605,0
27,El Granada,CDP,2014-01-01T00:00:00.000,9.2,4.3,9.1,2.4,"{'type': 'Point', 'coordinates': [-122.473333,...",23.0,28590,0
28,West Menlo Park,CDP,2014-01-01T00:00:00.000,37.8,0.0,5.7,3.6,"{'type': 'Point', 'coordinates': [-122.203056,...",34.0,28595,0
29,Montara,CDP,2014-01-01T00:00:00.000,3.3,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.506389,...",29.0,28599,0
30,Burlingame,City,2014-01-01T00:00:00.000,20.1,8.3,7.4,3.7,"{'type': 'Point', 'coordinates': [-122.363611,...",16.0,28587,1
31,La Honda,CDP,2014-01-01T00:00:00.000,0.0,0.0,11.9,0.0,"{'type': 'Point', 'coordinates': [-122.197222,...",26.0,28597,0

In [3]:
df.bachelor_s_degree_or_higher.mean()

2.85625

In [4]:
df.geography.count()

32

In [5]:
df.geography_type.unique()

array(['Town', 'City', 'CDP'], dtype=object)

In [6]:
df.less_than_high_school_graduate.value_counts()

0.0      4
14.2     1
8.5      1
7.0      1
100.0    1
9.5      1
11.9     1
4.8      1
31.1     1
26.7     1
6.2      1
15.7     1
22.1     1
16.4     1
6.3      1
44.4     1
20.9     1
7.7      1
9.2      1
37.8     1
3.3      1
15.1     1
48.1     1
18.3     1
21.2     1
16.1     1
13.6     1
13.4     1
20.1     1
Name: less_than_high_school_graduate, dtype: int64

In [7]:
def mapGeo(x):
  if x == "City":
    return 1
  else:
    return 0

df['geography_mapped_value'] = df.geography_type.apply(mapGeo)
df.geography_mapped_value.value_counts()

0    17
1    15
Name: geography_mapped_value, dtype: int64