In [46]:
import pandas as pd
df = pd.read_json("https://data.smcgov.org/resource/mb6a-xn89.json")

In [47]:
df.tail(5)

,geography,geography_type,year,less_than_high_school_graduate,high_school_graduate,some_college_or_associate_s_degree,bachelor_s_degree_or_higher,location_1,:@computed_region_uph5_8hpn,:@computed_region_i2t2_cryp
27,El Granada,CDP,2014-01-01T00:00:00.000,9.2,4.3,9.1,2.4,"{'type': 'Point', 'coordinates': [-122.473333,...",23.0,28590
28,West Menlo Park,CDP,2014-01-01T00:00:00.000,37.8,0.0,5.7,3.6,"{'type': 'Point', 'coordinates': [-122.203056,...",34.0,28595
29,Montara,CDP,2014-01-01T00:00:00.000,3.3,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.506389,...",29.0,28599
30,Burlingame,City,2014-01-01T00:00:00.000,20.1,8.3,7.4,3.7,"{'type': 'Point', 'coordinates': [-122.363611,...",16.0,28587
31,La Honda,CDP,2014-01-01T00:00:00.000,0.0,0.0,11.9,0.0,"{'type': 'Point', 'coordinates': [-122.197222,...",26.0,28597

In [48]:
df.bachelor_s_degree_or_higher.mean()

2.85625

In [49]:
df.geography.count()

32

In [50]:
df.geography_type.unique()

array(['Town', 'City', 'CDP'], dtype=object)

In [51]:
df.less_than_high_school_graduate.value_counts()

0.0      4
14.2     1
8.5      1
7.0      1
100.0    1
9.5      1
11.9     1
4.8      1
31.1     1
26.7     1
6.2      1
15.7     1
22.1     1
16.4     1
6.3      1
44.4     1
20.9     1
7.7      1
9.2      1
37.8     1
3.3      1
15.1     1
48.1     1
18.3     1
21.2     1
16.1     1
13.6     1
13.4     1
20.1     1
Name: less_than_high_school_graduate, dtype: int64

In [52]:
def mapGeo(x):
  if x == "City":
    return 1
  else:
    return 0

df['geography_mapped_value'] = df.geography_type.apply(mapGeo)
df.geography_mapped_value.value_counts()

0    17
1    15
Name: geography_mapped_value, dtype: int64